* {
  margin:0
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(../greenSeedSurveyForm/img/leaf.jpg);
  background-size: cover;
  color: white;
  font-family: Arial;
  font-size: 16px;
}

h1, p {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin-top: 1em;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1em;
}

.box {
  
  /*  glassMorphism effect */
  background: rgba( 43, 78, 51, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 107, 183, 116, 0.37 );
  backdrop-filter: blur( 9px );
  webkit-backdrop-filter: blur( 9px );
  border-radius: 5px;
  
  /* w and h   */
  width:50%;
  height:auto;
  
  /* position on page   */
  position:absolute;
  top:5%;
  left:25%;
  
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input, select, textarea{
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  border: 1px hidden;
  border-radius: 5px;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 16px;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  border: 1px hidden;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 16px;
  color: white;
  background-color: #48BC35;
  border-color: #E2E2E2;
  min-width: 300px;
  border-radius: 5px;
}

input[type="file"] {
  padding: 1px 2px;
}
